<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Name="Topin Secure Browser"
            IconSourceFile="$(var.Setup.ProjectDir)Resources\Application.ico"
            Manufacturer="!(bind.packageManufacturer.SetupX64)"
            UpgradeCode="26C1045A-99CC-4479-987B-376390379442"
            Version="!(bind.packageVersion.SetupX64)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
            <bal:WixStandardBootstrapperApplication LicenseFile="$(var.Setup.ProjectDir)Resources\License.rtf"
                                                    LocalizationFile="Resources\Theme.wxl"
                                                    LogoFile="Resources\Logo.png"
                                                    SuppressOptionsUI="yes"
                                                    SuppressRepair="yes"
                                                    ThemeFile="Resources\Theme.xml" />
        </BootstrapperApplicationRef>
        <Chain>
            <PackageGroupRef Id="DotNetFramework" />
            <PackageGroupRef Id="VisualCppRuntime" />
            <MsiPackage Id="SetupX64"
                        Compressed="yes"
                        DisplayInternalUI="no"
                        SourceFile="$(var.Setup.ProjectDir)bin\x64\Release\$(var.Setup.TargetFileName)"
                        InstallCondition="VersionNT64"
                        Vital="yes" />
            <MsiPackage Id="SetupX86"
                        Compressed="yes"
                        DisplayInternalUI="no"
                        InstallCondition="NOT VersionNT64"
                        SourceFile="$(var.Setup.ProjectDir)bin\x86\Release\$(var.Setup.TargetFileName)"
                        Vital="yes" />
           
        </Chain>
    </Bundle>
</Wix>
